@maxWidth:960px;
@footbarHeight:50px;
@topzIndex:10;
@stickyOffset:10px;
@insetWidth:5px;
@floatActionWidth:40px;

@media screen and (min-width:@maxWidth){
    body{
        background-color:lightgray;

        #app{
            width:@maxWidth!important;
            margin:0px auto!important;
        }
    }
}

#app{
	width:100%;
	
	.vendor(@prop,@value){
		-webkit-@{prop}:@value;
		-moz-@{prop}:   @value;
			@{prop}:    @value;
	}

	.flex(@orient:horizontal){
		display:-webkit-box;
		display:-moz-box;
		display:box;

		.vendor(box-orient,@orient)
	}

	.sticky(@orient:right, @offset:@stickyOffset){
		@{orient}: calc(~"100%/2 - "(@maxWidth)~"/2 + "(@offset))!important;
	}

	*{
		box-sizing:border-box;
		outline:none;
		margin:0px;
		padding:0px;
		border:0px;
		:not(input, textarea, select){
			.vendor(user-select,none);
		}
	}

	svg{
		box-sizing:initial;
	}

	::-webkit-scrollbar {
		width: 0px;
	}

	.grid{
		display:table;
		table-layout:fixed;
		width:100%;

		>*{
			display:table-cell;
		}
	}

	figure{
		text-align: center;
		background-color: black;
		img{
			max-width: 100%;
			max-height: 250px;
			width:auto;
		}
	}

	.inset{
		padding:@insetWidth;
	}

	.commands{
		.grid;
		z-index:9;
		text-align:center;

		color:lightblue;
		svg{
			fill:lightblue!important;
		}

		.primary{
			color:green;
			font-weight: bold;
			svg{
				fill:green!important;
			}
		}

		a{
			text-decoration:none;
			color:inherit;
		}
	}

	.empty{
		text-align:center;
		padding:200px 50px;


		svg{
			width: 150px!important;
			height:150px!important;
			fill:lightgray!important;
		}

		p{
			color:lightgray;
			font-size:x-large;
			line-height:1.5;
		}

		a{
			text-decoration:none;
			color:lightgray;
		}
	}

	.comment{
		&.inline{
			background-color:white;
		}
		.acomment{
			.grid;
		}
		.content{
			border-radius:3px;
			background-color:white;
			padding:5px;
			float:left;
			margin:2px;

			&.owner{
				background-color:lightgreen;
				float:right;
			}
		}
	}

	article{
		@headerHeight:100px;

		figure{

		}

		figure:empty{
			display:none;
		}

		img{
			width:100%;
			clear:both;
		}

		header{
			height:@headerHeight;
			background-color:darkorange;

			h1{
				.inset;
				line-height:@headerHeight/2 - 2*@insetWidth;
			}

			h1,a,p{
				text-overflow:ellipsis;
				white-space:nowrap;
				overflow:hidden;
			}

			a{
				text-decoration:none;
			}

			p{
				.inset;
				font-size:small;
				text-align:right;
				line-height:(@headerHeight/2 - 4*@insetWidth)/2;
			}
		}

		section{
			.inset;
		}

		details{
			.inset;
			border-bottom: 1px dotted lightgray;
			summary{
				.inset;
				background-color: #eee;
				border-radius: @insetWidth;
			}

			summary~div{
				padding: @insetWidth 2*@insetWidth;

				p{
					padding: @insetWidth 0px;
				}

				h1{
					line-height:3em;
				}
			}
		}

		details:last-child{
			border-bottom:none;
		}
	}

	.sticky{
		position:fixed!important;
		z-index: @topzIndex;

		.nth(@pos, @n){
			&._@{n}{
				@{pos}: (1*(@floatActionWidth+@n*@stickyOffset)+@n*@stickyOffset)!important;
			}
		}

		.on(@pos){
			&.@{pos}{
				@{pos}: @stickyOffset!important;

				&.right{
					right:@stickyOffset!important;

					@media screen and (min-width:@maxWidth){
						.sticky(right);
					}

					.nth(@pos, 2);

					.nth(@pos, 3);
				}

				&.left{
					left:@stickyOffset!important;

					@media screen and (min-width:@maxWidth){
						.sticky(left);
					}

					.nth(@pos, 2);

					.nth(@pos, 3);
				}
			}
		}

		.on(top);

		.on(bottom);

		&.full{
			.sticky(left,0);
			width:100%;
			height: calc(~"100% - "(@footbarHeight))!important;
			@media screen and (min-width:@maxWidth){
				width:@maxWidth;
			}
		}
	}

	.tutorial{
		.flex();
		.page{
			width:100%;
			text-align: center;
			vertical-align: middle;
			img{
				max-width: 80%;
				max-height: 80%;
			}
		}
	}
	
	.li{
		@listHeight:120px;
		@listHeightWithImage:160px;
		@titleFont:larger;
		@titleLineHeight:25px;
		@smallFont:small;
		@smallLineHeight:15px;
		@imageWidth:120px;
		@imageHeight:100px;
		@margin:10px;

		@media screen and (min-width:@maxWidth){

		}

		margin: @margin;
		border-radius: @margin;
		background-color: white;

		height: @listHeight;
		overflow: hidden;
		position: relative;

		border-bottom: 1px solid lightgray;
		padding: 10px;
		text-overflow: ellipsis;

		.title{
			font-size: @titleFont;
			line-height: @titleLineHeight;
			max-height: 2*@titleLineHeight;
			overflow: hidden;
			font-weight: bold;
			text-align: left;
		}

		.summary{
			font-size: @smallFont;
			color:gray;
			line-height: @smallLineHeight;
			max-height: 2*@smallLineHeight;
			overflow: hidden;
			text-align: left;
		}

		.more{
			font-size: @smallFont;
			color:gray;
			line-height: @smallLineHeight;
			max-height: @smallLineHeight;

			>*{
				display:inline-block;
			}

			>:first-child{
				padding-right:10px;
			}
			bottom:5px;
			position:absolute;
		}

		.photos{
			text-align: center;

			img{
				max-height:@imageHeight;
				max-width: 100%;
				min-width: @imageWidth;
				padding: 0px 2px;
			}
		}

		&.photo0{

		}

		&.photo1{
			.layout{
				#app.grid;

				>:last-child{
					width:33.3%;
					vertical-align: top;
				}
				>:first-child{
					vertical-align: top;
				}
			}

			.title{
				max-height: 3*@titleLineHeight;
			}
		}

		&.photo3{
			.photos{
				#app.grid;
				>*{
					vertical-align: middle;
					text-align: center;
					width:33.3%
				}
				>:last-child{
					text-align: right
				}
				>:first-child{
					text-align: left;
				}
			}
			height: @listHeightWithImage;

			.title{
				max-height: @titleLineHeight;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}

	.flexV{
		flex:1 1 100%; 
		overflow-y:scroll;
	}
}