{
    "presets": [
      "es2015",
      "react"
    ],
    "plugins": [
      "babel-plugin-add-module-exports",
      "babel-plugin-transform-object-rest-spread",
      "babel-plugin-transform-class-properties",
      ["module-resolver",{
			"root": ["./src"],
			"alias":{
                "ui":"./ui",
				"components":"./components",
				"icons":"./icons",
                "tools":"./tools",
                "qili-app": "./qili-app.js"
			}
		}]
    ],
	"sourceMaps": "inline"
 }
