{
    "presets": [
      "env",
      "react"
    ],
    "plugins": [
      "babel-plugin-relay",
      "babel-plugin-add-module-exports",
      "babel-plugin-transform-object-rest-spread",
      "babel-plugin-transform-class-properties"
    ]
 }
